<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title style="color: white">About</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content  color="dark">
  
    <div class="wrapper">
      <ion-card style="background-color: green ">
       
        <ion-card-header>
          <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
          <ion-card-title style="text-align: center;color: white"><ion-icon ios="ios-eye" md="md-eye"></ion-icon>&nbsp;Smart Eye</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p style="color: white">Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <ion-chip outline color="warning">
              <ion-icon name="wine"></ion-icon>
              <ion-label>Nightlife</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip outline color="warning">
              <ion-icon name="wine"></ion-icon>
              <ion-label>Nightlife</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
          </ion-col>
          
          
        </ion-row>
      </ion-card>
    </div>
        
        
     
  
  </ion-content>