<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="wrapper">
    <!-- <div class="box green" *ngFor="let image of imageData | async | paginate: { itemsPerPage: 5, currentPage: p }">
      <h5>{{image.imgName}}</h5>
      <h2><img [src]="image.imgUrl" style="width: 100%; height: 50%;"></h2>
      <p>{{image.imgName}}</p>
    </div> -->

    <ion-card
      class="box green"
      *ngFor="
        let image of imageData
          | async
          | paginate: { itemsPerPage: 10, currentPage: p }
      "
    >
    <img [src]="image.imgUrl" />
      <ion-card-header style="padding: 0px">
        <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->

        <ion-card-title
          ><h5 style="text-align: center;color: white;">{{ image.imgName }}
            
          </h5>
        </ion-card-title>
      </ion-card-header>
     
    </ion-card>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</ion-content>
